* {
  box-sizing: border-box;
}
:root {
  --primary1: hsl(179, 63%, 38%);
  --primary2: hsl(71, 73%, 54%);
  --neutral1: hsl(210, 17%, 98%);
  --neutral2: hsla(217, 22%, 67%, 0.699);
  --neutral3: hsla(210, 7%, 94%, 0.979);
}
div.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.grid-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto;
  width: 360px;
  margin-top: 100px;
}
/********************* Top Section of the card ********************/
div.grid-item1 {
  background-color: var(--neutral1);
  grid-column-start: 1;
  grid-column-end: 3;
  height: 200px;
  padding: 10px 0px 0 40px;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 40px 2px rgba(128, 128, 128, 0.384);
}
/********** Main Heading ***********/
div.grid-item1 > .main-text {
  font-family: Arial;
  color: var(--primary1);
  font-size: large;
}
/********** Sub Heading ***********/
div.grid-item1 > div.sub-text {
  color: var(--primary2);
  font-family: arial;
  font-size: small;
  margin-top: 20px;
}
/********** Paragraph Text ***********/
div.grid-item1 > div.paragraph {
  color: var(--neutral2);
  font-family: arial;
  font-size: 13px;
  margin-top: 20px;
  line-height: 25px;
}
/******************** Bottom Left Section *********************/
div.grid-item2 {
  background-color: var(--primary1);
  height: 220px;
}
/********** Main Heading ***********/
div.grid-item2 > .main-text {
  font-family: arial;
  margin: 20px 0px 0 40px;
  color: var(--neutral1);
  font-size: larger;
}
/********** Sub Heading ***********/
div.grid-item2 > .sub-text {
  color: var(--neutral1);
  margin: 20px 0px 0 40px;
  font-size: 17px;
  font-family: Arial;
}
/********** Price container ***********/
div.grid-item2 > .price {
  display: flex;
  margin: 20px 0px 0 40px;
  align-items: center;
}
/********** Price ($29) ***********/
div.grid-item2 > .price > .currency {
  color: var(--neutral1);
  font-size: xx-large;
  font-family: Arial;
}
/********** Price Duration ***********/
div.grid-item2 > .price > .text {
  color: var(--neutral2);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Arial;
  padding-left: 10px;
}
/********** Button Container ***********/
div.grid-item2 > div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/********** Main Button ***********/
div.grid-item2 > div.btn > button {
  padding: 15px;
  width: 290px;
  margin: 15px 0 0 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  color: var(--neutral1);
  background-color: var(--primary2);
}
/******************** Bottom Right Section *********************/
div.grid-item3 {
  background-color: hsla(179, 66%, 37%, 0.692);
  height: 240px;
  border-radius: 0 0 10px 10px;
}
/********** Main Heading ***********/
div.grid-item3 > .main-text {
  color: var(--neutral3);
  margin: 20px 20px 10px 40px;
  font-size: 25px;
  font-family: Arial;
}
/********** Paragraph Text ***********/
div.grid-item3 > .text {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 40px;
  color: var(--neutral3);
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
}

/***** For Laptops *****/
@media only screen and (min-width: 1024px) {
  div.grid-container {
    display: grid;
    flex-direction: column;
    width: 600px;
    margin-top: 90px;
  }
  div.grid-item1 {
    height: 220px;
  }
  div.grid-item1 > .main-text {
    color: var(--primary1);
    font-size: xx-large;
  }
  div.grid-item1 > div.sub-text {
    font-size: large;
  }
  div.grid-item1 > div.paragraph {
    font-size: 14px;
  }

  div.grid-item2 {
    width: 350px;
    border-radius: 0 0 0 10px;
    height: 260px;
  }

  div.grid-item2 > div.btn > button {
    width: 250px;
  }
  div.grid-item2 > div.btn > button {
    margin: 15px 0 0 0;
  }
  div.grid-item3 {
    width: 350px;
    height: 220px;
    border-radius: 0 0 10px 0;
    height: 260px;
  }
}
